<div class="show-mobile">
  <div>
    <button>
      <img src="assets/icons/menu-hamburguesa.svg" alt="menu">
    </button>
    <a class="logo" href="">
      <img src="./../../../assets/images/logo.jpg" alt="logo">
      <p>Store Manu</p>
    </a>
    <a href="">
      <img src="assets/icons/carrito-de-compras.svg" alt="cart">
    </a>
  </div>
</div>
<div class="hide-mobile">
  <div>
    <nav>
      <a class="logo" href="">
        <img src="./../../../assets/images/logo.jpg" alt="logo">
      </a>
      <ul>
        <li><a href="">All</a></li>
        <li><a href="">Clothes</a></li>
        <li><a href="">Electronics</a></li>
      </ul>
    </nav>
    <div class="info">
      <div class="account">manu.arroyo.gomez</div>
      <div>
        <a href="">
          <img src="assets/icons/carrito-de-compras.svg" alt="cart">
        </a>
      </div>
    </div>
  </div>
</div>
